<aside class="svx-sidebar">

    <nav class="svx-sidebar-nav">

        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'dashboard' %}
                active
            {% endif %}"
            href="{{ url_for('dashboard', lang=language) }}"
        >
            <i class="fa-solid fa-gauge-high"></i>

            <span>
                {{ t("DASHBOARD") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'system_page' %}
                active
            {% endif %}"
            href="{{ url_for('system_page', lang=language) }}"
        >
            <i class="fa-solid fa-microchip"></i>

            <span>
                {{ t("SYSTEM") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'svxlink_page' %}
                active
            {% endif %}"
            href="{{ url_for('svxlink_page', lang=language) }}"
        >
            <i class="fa-solid fa-radio"></i>

            <span>
                {{ t("SVXLINK") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'echolink_page' %}
                active
            {% endif %}"
            href="{{ url_for('echolink_page', lang=language) }}"
        >
            <i class="fa-solid fa-tower-broadcast"></i>

            <span>
                {{ t("ECHOLINK") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'reflector_page' %}
                active
            {% endif %}"
            href="{{ url_for('reflector_page', lang=language) }}"
        >
            <i class="fa-solid fa-satellite-dish"></i>

            <span>
                {{ t("REFLECTOR") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'logs_page' %}
                active
            {% endif %}"
            href="{{ url_for(
                'logs_page',
                lang=language
            ) }}"
            title="{{ t('LOGS') }}"
        >
            <i class="fa-solid fa-list"></i>

            <span>
                {{ t("LOGS") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link
            {% if request.endpoint == 'configuration_page' %}
                active
            {% endif %}"
            href="{{ url_for(
                'configuration_page',
                lang=language
            ) }}"
            title="{{ t('CONFIGURATION') }}"
        >
            <i class="fa-solid fa-sliders"></i>

            <span>
                {{ t("NAV_CONFIGURATION") }}
            </span>
        </a>


        <a
            class="svx-sidebar-link"
            href="#"
            title="{{ t('ABOUT') }}"
        >
            <i class="fa-solid fa-circle-info"></i>

            <span>
                {{ t("NAV_ABOUT") }}
            </span>
        </a>

    </nav>

</aside>
