#
# SVX Guardian - Apache HTTPS Reverse Proxy Template
#
# This file is a TEMPLATE.
#
# SVX Guardian does NOT require public TCP port 80.
# Certificate validation may use DNS-based verification.
#
# Variables:
#
#   @SVXGUARDIAN_HOSTNAME@
#   @SVXGUARDIAN_HTTPS_PORT@
#   @SVXGUARDIAN_CERTIFICATE@
#   @SVXGUARDIAN_PRIVATE_KEY@
#   @SVXGUARDIAN_BACKEND_HOST@
#   @SVXGUARDIAN_BACKEND_PORT@
#


<VirtualHost *:@SVXGUARDIAN_HTTPS_PORT@>

    ServerName @SVXGUARDIAN_HOSTNAME@

    SSLEngine on

    SSLCertificateFile @SVXGUARDIAN_CERTIFICATE@
    SSLCertificateKeyFile @SVXGUARDIAN_PRIVATE_KEY@

    ProxyPreserveHost On

    ProxyPass / http://@SVXGUARDIAN_BACKEND_HOST@:@SVXGUARDIAN_BACKEND_PORT@/
    ProxyPassReverse / http://@SVXGUARDIAN_BACKEND_HOST@:@SVXGUARDIAN_BACKEND_PORT@/

    RequestHeader set X-Forwarded-Proto "https"

    ErrorLog ${APACHE_LOG_DIR}/svxguardian-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/svxguardian-ssl-access.log combined

</VirtualHost>
